@font-face {
    font-family: myFirstFont;
    src: url(font/Montserrat-Bold.ttf);
 
  }
  @font-face {
    font-family: myFirstFont1;
    src: url(font/Great_Wishes.otf);
 
  }
body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }
  
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
    position:relative;
    opacity:0.90;
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    /*fixed = parallax
      scroll = normal*/
    
    background-attachment:fixed;
  }
  
  .pimg1{
    background-image:url('img/pic1.jpg');
    min-height:100%;
  }
  
  .pimg2{
    background-image:url('img/pic2.jpg');
    min-height:700px;
  }
  
  .pimg3{
    background-image:url('img/pic3.jpg');
    min-height:600px;
  }
  .pimg4{
    background-image:url('img/pic4.jpg');
    min-height:600px;
  }
  .pimg5
  {
    background-image:url('img/pic4.jpg');
    min-height:500px;
  }
  
  .section{
    text-align:center;
    padding:30px 60px;
  }
  
  .section-light{
    background-color:#888080;
    color:rgb(53, 48, 48);
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:20px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3, .pimg4{
      background-attachment:scroll;
    }
  }
  .iphone-image-wrapper {
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: grid;
    grid-auto-columns: 2fr 1fr 2fr;
    grid-auto-rows: 2fr 2fr 2fr;
    align-items: center;
}

.iphone-image {
    grid-row: 1;
    grid-column: 2 / span 1;
    align-self: center;
    justify-self:center;
    text-align: center;
    max-width: 100%;
}

.inner-phone {
    position: relative;
}

.ptext2{
  position: absolute;;
  top:50%;
  width:100%;
  text-align: center top;
  color:#000;
  font-size:20px;
  letter-spacing:8px;
  text-transform:uppercase;

}


p,pre {
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    margin:0 0 8px 0;
}

.iphone1-text {
    grid-column: 1;
    text-align: right;
}

.iphone2-text {
    grid-column: 3;
}

.i1-img {
 position: absolute;
    z-index: 50;
}


.iphone2-img {
 position: absolute;
    z-index: 5;
}

.iphone1 img {
    width: 100%;
}

.iphone2 img {
    width: 100%;
}
.iphone1-bbehind {
  display: none;
}
.iphone2-bbehind {
  
  display: none;
  
}
.iphone1-img-behind {
    z-index: 2;
    position: relative;
}

.iphone2-img-behind {
    z-index: 2;
    position: relative;
}

  